# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a7873afab344fa62e44db82b0e392708e79efe66a3a72f14b4523c42febc539820ae116374fa1f7542c7baaa662cd3944579a9bb763695392e824e787d7bcbd2
test:
  secret_key_base: 68975bf7f8a076e71feff64489c13d4c836581c489fcb56c204765958dbeadb5f04fdc01e712eebacfc94684b7dcf4db4afcc6e17b48db6f656b71bb8de79b7b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
  aws_access_key_id: <%= ENV['AWS_KEY'] %>
  aws_secret_key: <%= ENV['AWS_SECRET'] %>